<div class="container-fluid">

  <header class="pt-5">
    <h1>Formation Angular 11</h1>
    <hr />
  </header>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/presentation">Présentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo">Exercice TodoList</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/filtre">Les Filtres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/directive">Les Directives</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/locale">Les Locales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/custom/filtre">Les Filtres Personnalisés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formulaire">Les Formulaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signin">Inscriptions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/service">Les services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/observable">Les observables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/parameters">Les paramètres d'url</a>
      </li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <hr />
    <p class="small text-center"> Titre Pro Paris/Nantes - Dawan FOAD - Janvier 2021</p>
  </footer>
</div>
